{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% include 'components/seo.html' %}
    {% include 'components/includes.html' %}
    <link href="{% static 'tw/output.css' %}" rel="stylesheet">
</head>

<body>
    {% include 'components/header.html' %}
    {% block content %}
    {% endblock %}
</body>

</html>