{% extends 'base.html' %}

{% block title %}
Blossom Poetry - {{ content.title }}
{% endblock %}

{% block content %}
<!-- Content Section: Details -->
<div class="container mx-auto p-6">
    <div class="bg-white rounded-2xl shadow-lg overflow-hidden">
        <div class="p-6 text-center">
            <h2 class="text-3xl font-bold text-gray-800">{{ content.title }}</h2>
            <p class="text-gray-600 mt-2 text-sm">{{ content.author }}</p>
            <p class="text-gray-600 mt-4 text-lg">{{ content.content }}</p>
        </div>
    </div>
</div>
{% endblock %}