<meta property="og:title" content="Blossom Poetries">
<meta property="og:description" content="A website of a collection of beautiful poetries">
<meta property="og:image" content="https://i.ibb.co.com/dRHt7mN/483908783-1882252065863897-408268521562306538-n.jpg">
<meta property="og:url" content="https://blossom-three.vercel.app/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Blossom">
<meta name="google-site-verification" content="F0GL1oX9FPRVmS9blRb4p-O838Nj3PuUz4XGNAuaZRY" />